<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EncryptionKey" value="Bu32ByteUzunluqluBirAcardir12345" />
		<add key="EncryptionIV" value="Bu16ByteIVdir123" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>